@font-face
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Italic.woff2') format('woff2'),
      url('/fonts/Lato/Lato-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;


@font-face
  font-family: 'Lato Hairline';
  src: url('/fonts/Lato/Lato-HairlineItalic.woff2') format('woff2'),
      url('/fonts/Lato/Lato-HairlineItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;


@font-face
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-BlackItalic.woff2') format('woff2'),
      url('/fonts/Lato/Lato-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;


@font-face
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Bold.woff2') format('woff2'),
      url('/fonts/Lato/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;


@font-face
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-LightItalic.woff2') format('woff2'),
      url('/fonts/Lato/Lato-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;


@font-face
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-BoldItalic.woff2') format('woff2'),
      url('/fonts/Lato/Lato-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;


@font-face
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Light.woff2') format('woff2'),
      url('/fonts/Lato/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;


@font-face
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Black.woff2') format('woff2'),
      url('/fonts/Lato/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;


@font-face
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.woff2') format('woff2'),
      url('/fonts/Lato/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;


@font-face
  font-family: 'Lato Hairline';
  src: url('/fonts/Lato/Lato-Hairline.woff2') format('woff2'),
      url('/fonts/Lato/Lato-Hairline.woff') format('woff');
  font-weight: 300;
  font-style: normal;


