// LOGIN

.black-logo
  height: 1.4em

// LOADING

#loading-overlay
  z-index: 1000
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(255, 255, 255, 0.8)
  opacity: 0
  pointer-events: none
  &.loading
    opacity: 1
    pointer-events: all

// UNDERLINE
.link-underline
  @extend a.link-underline

// HEADER

#header
  background-color: $color-header

// LIST

// Reset button styles
button
  appearance: none
  background-color: transparent
  border: 0
  padding: 0

// Button styles
.button,
a.button
  background-color: $color-button-default
  color: $color-white
  border-radius: 5px
  padding: ($margin-small*0.8) $margin-small
  display: inline-block
  cursor: pointer
  &.button-small
    padding: ($margin-tiny*0.8) $margin-tiny
  &.button-delete
    background-color: $color-button-warning
  &:disabled
    background-color: $color-button-disabled
    cursor: default;

.list-rows-holder
  > *
    &:nth-child(odd)
      background-color: $color-table-light
    &:nth-child(even)
      background-color: $color-table-dark

.list-rows-item
  min-height: 4em

// FORM

.button-row
  .grid-item
    padding-left: 0 !important

.card
  padding: $margin-small
  border: 1px solid $color-form-border
  border-radius: 5px
  height: 100%
  display: flex
  flex-direction: column

.card-body
  flex-grow: 1

.card-actions
  padding-top: $margin-small
  flex-shrink: 0
  text-align: right

.dropzone
  padding: $margin-small
  border: 1px dashed $color-form-border
  border-radius: 5px
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer

input, select, textarea
  appearance: none
  background-color: $color-white
  color: $color-black
  border: 1px solid $color-form-border
  border-radius: 5px
  padding: $margin-small
  width: 100%

textarea
  resize: vertical

.select-wrapper
  position: relative
  display: block
  width: 100%
  pointer-events: all
  &:after
    content: '▼'
    position: absolute
    top: $margin-small
    right: $margin-small
