// LIST

// Button styles
.button,
a.button
  padding: ($margin-small*0.8) $margin-small
  &.button-small
    padding: ($margin-tiny*0.8) $margin-tiny
  &.button-delete
    background-color: $color-button-warning

// FORM

.card
  padding: $margin-small

.card-actions
  padding-top: $margin-tiny

.dropzone
  padding: $margin-small

input, select
  padding: $margin-small

.select-wrapper
  &:after
    top: $margin-small
    right: $margin-small

// Checkbox
input[type='checkbox']
  margin-right: $margin-tiny
